@font-face {
  font-family: 'Aldrich';
  src: url("Aldrich-Regular.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Aldrich";
	line-height: 1.5em;
	/*chrome in android*/
	-webkit-tap-highlight-color: transparent;
}
title{
	/*Disabled title in body*/
	display: none;
}
/*Background*/
#container{
	background: #0b3158ff;
	background: radial-gradient(circle, #0b3158ff 0%, #000122ff 100%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.background{
	background: transparent;
	width: 100%;
	position: absolute;
	-moz-user-select: none; 
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  	animation-name:rotatation;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  }
#background-01 {
	background: radial-gradient(circle, #000 0%, #00012200 50%);
  	z-index: 3;
  	animation-duration: 30s;
}
#background-02 {
  	animation-duration: 40s;
  	z-index: 2;
}

#card{
	z-index: 4;
	flex-direction: column;
	text-align: center;
	color: #fff;
}
/*Color text selection*/
#card p::selection, #card h1::selection{
	background-color:#00FFD1;
}
/*mozilla*/
#card p::-moz-selection, #card h1::-moz-selection{
	background-color:#00FFD1;
}

#error{
	transform: rotate(10deg);
	font-size: .7em;
	padding-top:1em;
	color: #FF2020;
}
#error::selection{
	color:#FFFFFF; 
	background:#FF0000;
}
#error::-moz-selection {
	color:#FFFFFF; 
	background:#FF0000;
}

button{
	cursor: pointer;
	color: #00FFD1;
	border: 2px solid #00FFD1;
	background-color: #00ffd140;
	padding: .7em 2em;
	margin: .5em;
	transition: .25s;
	position: relative;
	overflow: hidden;
	outline: none;
	-moz-user-select: none; 
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
button div{
	background:#00FFD150;
	width: 60px;
	height: 100%;
	position: absolute;
	left: -65px;
	transform: skew(-15deg);
}
button:hover div{
	left: calc(100% + 40px);
	transition: .5s;
}
button:hover{
	transform: scale(1.1);
}

/*Background animation*/
@keyframes rotatation {
  from {
  	-ms-transform: rotate(0deg); /* IE 9 */
  	transform: rotate(0deg);
  }
  to {
  	-ms-transform: rotate(360deg); /* IE 9 */
  	transform: rotate(360deg);
  }
}

/*Background responsive*/
@media screen and (orientation: portrait) {
	.background-01 {
		width: auto;
		height: 100%;
	}
	.background-02 {
		width: auto;
		height: 100%;
	}
}
